*{
    margin: 0% ;
}
.myimage{
    width: 100%;
    margin-top: 60px;
}
body{
    background-color: 	#6577B3;
      
}
.top{
    background-image: url("/C:/Users/10/Downloads/AmalZaidan.png");
}


a{
    text-decoration: none;
}
.nav:hover{
   
    text-decoration:underline;
}



.all{
    margin-left: 350px;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: rgb(227, 233, 236);
}

.name1{
    width: fit-content;
    font-family: 'Nunito', sans-serif;
}

.footer{
    margin-top:20px;
    text-align:center;
    background-color: #b3b1b1;
    height: fit-content;
    align-items: center;
    margin-bottom: 0%;

}

.d{
    font-size: 30px;
    padding: 0%;
    font-weight:bolder ;
    color:rgb(227, 233, 236);
    font-family: 'Nunito', sans-serif;
}

.link{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: rgb(227, 233, 236);
    padding-top: 40px;
}

.link:hover{
    text-decoration: underline;
    color:black;
}

.contact{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;

}

.contact:hover{
    text-decoration: underline;
    color:rgb(227, 233, 236);
}



.topnav{
    display: inline;
    background-color:rgb(120, 134, 175);
    width: 100%;
    border-bottom:2px solid  rgb(217, 224, 228);
	height: 18%;
	margin: 0px;
	position:fixed;
	z-index: 100;
	top:0;
}

.nav{
    float:right;
    padding: 20px;
    display: inline;
    font-size: 25px;
    color: rgb(217, 224, 228);
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
}