*{
  margin: 0%;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
 
  color: #fdfcfd;
}

body{
background-image: url("backgndspace.png");


}

#navbar {
  overflow: hidden;
  background-image: url("space2.png");
  background-size: cover;
  padding: 50px 5px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

}

#navbar a {
  float: left;
  color: #fdfcfd;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}


#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.grid{
    margin-top: 20%;

}



.grid li{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 3%;
    
}

.projectdis{
    background-image: url("spaceimage.jpg");
    height: 100%;
    width: 60%;
    border-radius:  1%;
}

.projectdis p{
    padding: 5%;
    color: #fdfcfd;
}

.image1{
    margin-left: 10%;
    height: 20%;
    width: 20%;
    display: inline-block;
}


.projectdis:hover{
    padding-bottom: 5%;
}

.footer{
  background-image: url("footerspace.png");
  margin-top: 10% ;
  margin-bottom: 0%;
  padding: 2%;
  background-size: cover;
  text-align: center;
 
}

.footerelements{
  color: #fdfcfd;
  font-weight: bolder;
  background-color: black;
  width: 8%;
  margin-left: 50%;
}

.footerelements:hover{
  text-decoration: underline;
}
